:root {
/* Message Bubbles */
   /* New Messages bubble */
   #app-mount [class^="messageListItem__"] [data-is-self="true"],
   #app-mount .message__5126c[data-author-self=true] {
    margin-left: auto;
    width: fit-content;
    max-width: 90%;
    padding-left: 48px;
    padding-right: 16px !important;
  }
  .isSystemMessage_c19a55 {
    margin-left: auto;
    width: auto;
    padding-left: unset!important;
    padding-right: unset !important;
  }
  
  #app-mount [class^="messageListItem__"] [data-is-self="true"] .container_b7e1cb :not(.container_b7e1cb *),
  #app-mount .message__5126c[data-author-self=true] .container_b7e1cb {
    direction: rtl;
    text-align: right;
	 /* padding-right: 40px; */
  }

   #app-mount [class^="messageListItem__"] [data-is-self="true"] .groupStart__5126c:not(.markup__75297),
   #app-mount .message__5126c[data-author-self=true] .groupStart__5126c:not(.markup__75297){
	   text-align: right;
	   padding-right: 8px;
   }

#app-mount [class^="messageListItem__"] [data-is-self="true"] .groupStart__5126c > .contents_c19a55 > .markup__75297,
#app-mount .message__5126c[data-author-self=true] .groupStart__5126c > .contents_c19a55 > .markup__75297  {
   text-align: left;
}
  
#app-mount [class^="messageListItem__"] [data-is-self="true"]:not(.systemMessage__5126c) .contents_c19a55,
#app-mount [class^="messageListItem__"] [data-is-self="true"]:not(.systemMessage__5126c) .container_b7e1cb:not(:empty),
#app-mount .message__5126c[data-author-self=true] .contents_c19a55 {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: 45px!important;
}
  #app-mount [class^="messageListItem__"] [data-is-self="true"].message__5126c.selected__5126c .contents_c19a55,
  #app-mount .message__5126c.selected__5126c[data-author-self=true] .contents_c19a55 {
    width: 100%;
  }

  #app-mount [class^="messageListItem__"] [data-is-self="true"] .timestamp_c19a55,
  #app-mount .message__5126c[data-author-self=true] .timestamp_c19a55 {
    left: unset;
    right: 8px;
    margin-top: 1.75px;
  }

  #app-mount [class^="messageListItem__"] [data-is-self="true"] .replying__5126c .contents_c19a55 .messageContent_c19a55::before,
  #app-mount [class^="messageListItem__"] [data-is-self="true"] .mentioned__5126c .contents_c19a55 .messageContent_c19a55::before,
  #app-mount .replying__5126c[data-author-self=true] .contents_c19a55 .messageContent_c19a55::before,
  #app-mount .mentioned__5126c[data-author-self=true] .contents_c19a55 .messageContent_c19a55::before {
    left: unset;
    right: 0;
  }

#app-mount [class^="messageListItem__"] [data-is-self="true"]:not(.isSystemMessage_c19a55) .contents_c19a55 .messageContent_c19a55,
#app-mount [class^="messageListItem__"] [data-is-self="true"]:not(.isSystemMessage_c19a55) .container_b7e1cb,
#app-mount .message__5126c[data-author-self=true]:not(.isSystemMessage_c19a55) .contents_c19a55 .messageContent_c19a55,
#app-mount .message__5126c[data-author-self=true]:not(.isSystemMessage_c19a55) .container_b7e1cb {
    margin-left: auto;

    border-top-right-radius: 0;
    border-top-left-radius: 12px;
}
#app-mount [class^="messageListItem__"] :not(.isSystemMessage_c19a55) .container_b7e1cb {
  margin-top: 5px;
  .embedSuppressButton__623de {
    right: 0;
  }
}

.systemMessage__5126c .contents_c19a55 .messageContent_c19a55, .isSystemMessage_c19a55 {
  border-top-left-radius: 12px!important;
  border-top-right-radius: 12px!important;
  border: none!important;
}
#app-mount .isSystemMessage_c19a55 .contents_c19a55 .messageContent_c19a55 {
  /* border: none!important; */
  height: 25px!important;
  &:not(:hover) {
    .content__235ca {
      transition: tranlate ease 0.2s;
      translate: 5px;
    }
  }
}
.systemMessage__5126c {
  transition: all ease 0.5s;
  display: flex!important;
  margin-bottom: -5px!important;
  justify-content: center!important; /* Centers the list items */
  .iconContainer__235ca {display: none;}
  .timestamp_c19a55 {
    transition: all ease 0.5s;
    /* opacity: 0; */
    font-size: 0;
    &:hover {
      opacity: 1;
      /* font-size:!important; */
    }
  }
}
.systemMessage__5126c:hover {
  transition: all ease 0.5s;
  .timestamp_c19a55 {
    /* transition: width ease 0.2s; */
    opacity: 1;
    font-size: small!important;
    }
}
  #app-mount [class^="messageListItem__"] [data-is-self="true"] a:not(.embed__623de .embedAuthorNameLink__623de),
  #app-mount [class^="messageListItem__"] [data-is-self="true"] .repliedMessage_c19a55
  #app-mount .message__5126c[data-author-self=true] a:not(.embed__623de .embedAuthorNameLink__623de),
  #app-mount .message__5126c[data-author-self=true] .repliedMessage_c19a55 {
    margin-left: auto;
  }

  #app-mount [class^="messageListItem__"] [data-is-self="true"] .embedAuthor__623de,
  #app-mount .message__5126c[data-author-self=true] .embedAuthor__623de {
    direction: ltr;
  }

  #app-mount [class^="messageListItem__"] [data-is-self="true"] .avatar_c19a55,
  #app-mount [class^="messageListItem__"] [data-is-self="true"] .avatarDecoration_c19a55,
  #app-mount .message__5126c[data-author-self=true] .avatar_c19a55,
    #app-mount .message__5126c[data-author-self=true] .avatarDecoration_c19a55 {
    left: unset;
    right: 4px;
  }

  #app-mount [class^="messageListItem__"] [data-is-self="true"] .header_c19a55,
  #app-mount .message__5126c[data-author-self=true] .header_c19a55 {
    display: flex;
    flex-direction: row-reverse;
  }

  #app-mount [class^="messageListItem__"] [data-is-self="true"] .header_c19a55 span,
  #app-mount .message__5126c[data-author-self=true] .header_c19a55 span {
    margin-left: .25rem;
    margin-right: unset;
  }
  #app-mount [class^="messageListItem__"] [data-is-self="true"] .repliedMessage_c19a55 {
    margin-left: auto;
    margin-right: 45px;
    rotate: 180deg;
    flex-direction: row-reverse;
    .repliedMessageClickableSpine_c19a55 {
      transform: scaleY(-1);
      translate: 15px -15px;
      margin-left: -15px;
      margin-right: 15px;
    }
    .repliedTextPreview_c19a55, .chipletContainerInner__4a25c, .username_c19a55, .replyAvatar_c19a55,
    .repliedTextContentTrailingIcon_c19a55, .repliedTextContentLeadingIcon_c19a55, .botTagCompact_c19a55,
    .hg-username-handle  {
      rotate: 180deg;
      padding-right: 5px;
    } 
    .hg-username-handle.hg-username-handle {
      padding-right: 0;
    }
  }
  #app-mount .contents_c19a55 > .messageContent_c19a55 {
    overflow: visible;
  }
  
  #app-mount .contents_c19a55 pre {
    max-width: 100%;
  }
  
  #app-mount .contents_c19a55 .messageContent_c19a55,
  #app-mount .container_b7e1cb {
    background-color: var(--bg-base-secondary)!important;
    border: solid 1px var(--app-border-frame)!important;
    padding: 8px;
    margin-left: unset;
    border-radius: 12px;
    border-top-left-radius: 0;
    width: fit-content;
  }

  #app-mount .contents_c19a55 {
    display: inline-block;
    max-width: 100%;
  }

  #app-mount .message__5126c {
    max-width: 100%;
  }

  #app-mount .message__5126c:hover:not(.replying__5126c):not(.mentioned__5126c) .contents_c19a55 .messageContent_c19a55,
  #app-mount .message__5126c.selected__5126c:not(.replying__5126c):not(.mentioned__5126c) .contents_c19a55 .messageContent_c19a55 {
    background-color: var(--background-secondary-alt);
  }

  #app-mount [class^="messageListItem__"] [data-is-self="true"] .compact_c19a55.wrapper_c19a55 .messageContent_c19a55
  #app-mount .message__5126c.compact_c19a55.wrapper_c19a55[data-author-self=true] .messageContent_c19a55 {
    display: flex;
  }
  
  #app-mount .compact_c19a55.wrapper_c19a55 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
#app-mount .mentioned__5126c.compact_c19a55 .contents_c19a55 .messageContent_c19a55::before:not([class^="messageListItem__"] [data-is-self="true"]),
#app-mount .replying__5126c.compact_c19a55 .contents_c19a55 .messageContent_c19a55::before:not([class^="messageListItem__"] [data-is-self="true"]),
#app-mount .mentioned__5126c.compact_c19a55 .contents_c19a55 .messageContent_c19a55::before:not([data-author-self=true]),
#app-mount .replying__5126c.compact_c19a55 .contents_c19a55 .messageContent_c19a55::before:not([data-author-self=true]) {
    left: 4px;
}

  
  #app-mount .mentioned__5126c .contents_c19a55 .messageContent_c19a55 {
    background-color: var(--background-mentioned);
  }

  #app-mount .mentioned__5126c:hover .contents_c19a55  .messageContent_c19a55,
  #app-mount .mentioned__5126c.selected__5126c .contents_c19a55 .messageContent_c19a55 {
    background-color: var(--background-mentioned-hover);
  }

  #app-mount .mentioned__5126c .contents_c19a55 .messageContent_c19a55::before {
    background-color: var(--info-warning-foreground);
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 3px;
    margin: 8px 0;
    border-radius: 1.5px;
    z-index: 1;
  }
  
  #app-mount .repliedMessage_c19a55 {
    background-color: var(--background-message-hover);
    margin-bottom: 0;
    padding: 6px;
    border-radius: 5px;
    width: fit-content;
    max-width: 100%;
  }
  
  #app-mount .replying__5126c .contents_c19a55 .messageContent_c19a55 {
    background-color: var(--brand-experiment-05a);
  }

  #app-mount .replying__5126c:hover .contents_c19a55 .messageContent_c19a55,
  #app-mount .replying__5126c.selected__5126c .contents_c19a55 .messageContent_c19a55 {
    background-color: var(--brand-experiment-10a);
  }

  #app-mount .replying__5126c .contents_c19a55 .messageContent_c19a55::before {
    background-color: var(--brand-experiment);
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 3px;
    margin: 8px 0;
    border-radius: 1.5px;
    z-index: 1;
  }

#app-mount [class^="messageListItem__"] [data-is-self="true"] .repliedMessage_c19a55:before,
#app-mount .message__5126c[data-author-self=true] .repliedMessage_c19a55:before,
#app-mount .mentioned__5126c:before,
.replying__5126c:before,
.repliedMessage_c19a55:before,
.spine__9271d.cozy__9271d,
.message__5126c::after {
    display: none;
}


#app-mount [class^="messageListItem__"] [data-is-self="true"] .buttonContainer_c19a55  {
  position: absolute;
  rotate: 180deg;
  left: 20px;
  .buttonsInner__5126c {
    rotate: 180deg;
  }
}
}
